@import 'reset.css';
@import 'listing.css';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
  color: black;
}
