@import 'reset.css';
@import 'listing.css';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.boarding-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(99, 79, 79, 0.37);
    text-shadow: 1px 0 2px black;
    box-shadow: 1px 1px 3px 1px black;
}

.boarding-h1 {
    font-size: 28px;
    text-align: center;
}

.boarding-currentTime {
    margin-left: 5px;
    margin-top: 10px;
}

.last-checked {
    margin-right: 5px;
}

ul {
    margin-top: 10px;
}

.listing-info {
    display: block;
    padding: 10px;
}

.listing-info:nth-child(even) {
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(226, 198, 198, 0.92);
}

.board-filter {
    display: block;
    width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}

.board-filter:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}

.board-filter:last-child {
    margin-right: 0;
}

.board-filter:nth-child(2n) {
    margin-right: 0;
    float: right;
}

.board-filter:nth-child(2n + 1) {
    clear: both;
}

.button-select {
    margin-bottom: 5px;
    text-overflow: clip;
}

.boarding-controls {
    /* cheap clearfix solution */
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
}

.goBack {
  margin-top: 10px;
}

.hidden {
    display: none;
}
